/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
 --accent-color: #FF0070;
  --color-text-accent: #000;
  --accent-color-button: #FF0070;
  --decoration-color-line: #FF0070;
  --color-button: #FF0070;
  --color-border: #FF0070;
  --colot-title: #DB00FF;
  --color-shadow: #FF0070;
  --color-title-tex: #FF0070;
  --content-end: end;
  --content-center: center;
  --content-start: start;

.page {
  background-image: url(../images/cover-image-dark.png); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  color: #F1B2CE;
}
.header__rec {
  position: absolute;
  top: 5px;
  right: 20px;
  text-transform: uppercase;
  color: var(--accent-color);
}
.header__theme-menu {
  align-self: var(--content-start);
  color: var(--accent-color-button);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-button);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color-button);
}
.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-button);
  
}

.decoration_title_header {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--colot-title);
}
.title-decor {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
  font-weight: bold;
}

/*декоративная зона*/
.decorated-zone::before {
  content: '';
  border-top: 1px solid var(--decoration-color-line);
  border-right: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.decorated-zone::after {
  content: '';
  border-bottom: 1px solid var(--decoration-color-line);
  border-left: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  position: relative;
}
.squere::before {
  content: '';
  border-top: 1px solid var(--decoration-color-line);
  border-right: 1px solid var(--decoration-color-line);
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
}
.squere::after {
  content: '';
  border-bottom: 1px solid var(--decoration-color-line);
  border-left: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*----------HEADER END---------*/

/*----------MAIN---------*/

.title-decor_content {
  color: #FF0070;
}
.title_paragraph {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
}
.subtitle {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
}
/*----------MAIN END---------*/

/*----------FOOTER---------*/

.footer_title {
  text-shadow: 4px 4px 0 var(--color-shadow);
  color: var(--colot-title);
}
}
/*----------FOOTER END---------*/