/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
 --accent-color: #FF8DCB;
  --color-text-accent: #353430;
  --decoration-color-line: #353430;
  --accent-color-button: #353430;
  --color-button: #FF8DCB;
  --color-border: #FF8DCB;
  --colot-title: #FFC2E6;
  --color-shadow: #FF8DCB;
  --color-title-text: #353430;
  --content-end: end;
  --content-center: center;
  --content-start: start;
  --bakground-img: url(../images/cover-image-light.png); 
  --display-rec: none;
  --title-decor-color:
}


@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --color-text-accent: #353430;
  --decoration-color-line: #353430;
  --accent-color-button: #353430;
  --color-button: #FF8DCB;
  --color-border: #FF8DCB;
  --colot-title: #FFC2E6;
  --color-shadow: #FF8DCB;
  --color-title-text: #353430;
  --content-end: end;
  --content-center: center;
  --content-start: start;
  --bakground-img: url(../images/cover-image-light.png); 
  --display-rec: none;
  }
}