/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bakground-img); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  color: #F1B2CE;
}
.header__rec {
  position: absolute;
  top: 5px;
  right: 20px;
  text-transform: uppercase;
  color: var(--accent-color);
}
.header__rec {
  display: none;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-button);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color-button);
}
.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-button);
}
.decoration_title_header {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--colot-title);
}
.title-decor {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
  font-weight: bold;
}
/*декоративная зона*/
.decorated-zone::before {
  content: '';
  border-top: 1px solid var(--decoration-color-line);
  border-right: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.decorated-zone::after {
  content: '';
  border-bottom: 1px solid var(--decoration-color-line);
  border-left: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer {
  position: relative;
}
.squere::before {
  content: '';
  border-top: 1px solid var(--decoration-color-line);
  border-right: 1px solid var(--decoration-color-line);
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
}
.squere::after {
  content: '';
  border-bottom: 1px solid var(--decoration-color-line);
  border-left: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*----------HEADER END---------*/
/*----------MAIN---------*/

.title-decor_content {
  color: var(--color-title-tex);
}
.title_paragraph {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
}
.subtitle {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
}
/*----------MAIN END---------*/

/*----------FOOTER---------*/

.footer_title {
  text-shadow: 4px 4px 0 var(--color-shadow);
  color: var(--colot-title);
}

/*----------FOOTER END---------*/








/*адаптивная зона*/
@media (width >= 768px) {
  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
    block-size: 100vh;
    min-width: 100%;
    justify-content: normal;
  }
  .decoration_title_header {
    justify-self: start;
  }
  .header__theme-menu {
    justify-self: end;
  }
  .description_title {
    max-width: 50vw;
    justify-self: end;
  }
  .section_grid_why,
  .section_grid_how {
    display: grid;
    grid-template-columns: 236px 1fr;
  }
  .local_setting {
    max-width: 236px;
  }
  .content-section_main {
    padding-bottom: 80px;
  }
  .section_grid_img {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    object-fit: cover;
  }
  .img_sunset {
    grid-column: 1/3;
    grid-row: span 1;
  }
  .img_ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
    min-height: 100%;
    /*растянуть нормально*/
  }
  .img_tape {
    grid-column: 1/2;
    grid-row: 2/4;
    min-height: 100%;
  }
  .img_street {
    grid-column: 2/4;
  }
  .transform__img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media (width >= 1024px) {
  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100vh;
    min-width: 100%;
  }
  .header__theme-menu {
    padding: 0;
    margin-top: 0;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
  }
  .decoration_title_header {
    justify-self: start;
    block-size: 100%;
    max-width: 100vw;
    font-size: 157px;
  }
  .section_grid_why,
  .section_grid_how {
    display: grid;
    grid-template-columns: 315px 1fr;
  }
  .local_setting {
    max-width: 315px;
  }
  .local_setting-parargaph {
    display: flex;
    flex-direction: row;
  }
  .section_grid_img {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    object-fit: cover;
  }
  .img_sunset {
    grid-column: 1/3;
    grid-row: span 1;
  }
  .img_ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
    min-height: 100%;
  }
  .img_tape {
    grid-column: 1/2;
    grid-row: 2/4;
    min-height: 100%;
  }
  .img_street {
    grid-column: 2/4;
  }
  .transform__img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
}
