/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*----------HEADER---------*/
.header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-height: 668px;
  justify-content: end;
  margin-bottom: 42px;
}
.header, .footer {
  height: 100vh;
}
.header__theme-menu {
  justify-self: end;
}
.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-align: center;
  color: var(--decoration-color-line);
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  margin-top: 10px;
  margin-left: 5px;
  align-items: center;
}
.header__theme-menu-item {
  font-family: 'IBM Plex Mono', sans-serif;
}
.decoration_title_header {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 83%;
  align-self: end;
  font-family: 'IBM Plex Mono', sans-serif;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--colot-title);
}
.description_title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 5px;
}/*----------HEADER END---------*/

/*----------MAIN---------*/

.content-section_main {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  }
.section_grid_why,
.section_grid_what,
.section_grid_how {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.title-decor_content {  
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--color-title-text);
}

.paragraph_main-class {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new_gap_for_basics_ruls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title_paragraph {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
}
.main-text {
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  line-height: 23.4px;
  color: var(--main-text-color);
}
.subtitle {
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  line-height: 23.4px;
  font-weight: normal;
}
.transform__img_flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.transform__img {
  width: 100%;
  height: auto;
}
.set_margin {

}
/*----------MAIN END---------*/

/*----------FOOTER---------*/
.footer {
  display: flex;
  align-items: center;
  min-height: 668px;
  justify-content: center;
}
.footer_title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--color-shadow);
  color: var(--colot-title);
  padding-top: 100px;
}

/*----------FOOTER END---------*/
/*доп*/
.header__theme-menu-button_active {
  pointer-events: none
}
.page {
  background-image: var(--bakground-img); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.header__rec {
  display: var(--rec-display);
  position: absolute;
  top: 25px;
  right: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
  padding-left: 100px;
}
.header__rec::after {
  content: "";
  display:inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
}  


.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-button);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color-button);
}
.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-button);
  width: 70px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
  font-weight: bold;
}
/*декоративная зона*/
.decorated-zone::before {
  content: '';
  border-top: 1px solid var(--decoration-color-line);
  border-right: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.decorated-zone::after {
  content: '';
  border-bottom: 1px solid var(--decoration-color-line);
  border-left: 1px solid var(--decoration-color-line);
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.footer {
  position: relative;
}
.class-article_gap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*----------HEADER END---------*/
/*----------MAIN---------*/


.title_paragraph {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
}
.subtitle {
  background-color: var(--accent-color);
  color: var(--color-text-accent);
}
/*----------MAIN END---------*/

/*----------FOOTER---------*/



/*----------FOOTER END---------*/

.link-mod {
  text-decoration: none;
  text-shadow: 2px 2px 1px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    align-items: center;
    min-width: 100%;
    justify-content: normal;
    margin-bottom: 60px;
  }
  .decoration_title_header {
    justify-self: start;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header__theme-menu {
    justify-self: end;
  }
  .section_grid_what {
    margin-left: 20px;
  }
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }
  .description_title {
    max-width: 364px;
    justify-self: end;
    margin-bottom: 30px;
  }
  .section_grid_why,
  .section_grid_how {
    display: grid;
    grid-template-columns: 236px 1fr;
    padding-left: 20px;
  }
  .local_setting {
    max-width: 236px;
  }
  .paragraph_main-class {
    display: flex;
    gap: 15px;
  }
  .section_grid_img {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    object-fit: cover;
  }
  .img_sunset {
    grid-column: 1/3;
    grid-row: span 1;
  }
  .img_ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
    min-height: 100%;
    /*растянуть нормально*/
  }
  .img_tape {
    grid-column: 1/2;
    grid-row: 2/4;
    min-height: 100%;
  }
  .img_street {
    grid-column: 2/4;
  }
  .transform__img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-bottom: 192px;
    padding-left: 20px;
  }
  
  .transform__img_flex {
    max-width: 100%;
    margin-left: 20px;
    margin-top: 25px;
  }
  .class-article_gap {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .content-section_main {
  gap: 15px;
  margin-bottom: 38px;
  padding-bottom: 40px;
  max-width: 984px;
}
.local_setting-parargaph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
}

@media (width >= 1024px) {
  
  .header {
    block-size: 100vh;
    min-width: 100%;
    margin-bottom: 50px;
  }
   .content-section_main {
    padding-bottom: 0;
  }
  .description_title {
    max-width: 491px;
  }

  .header__theme-menu {
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    justify-self: center;
    align-self: start;
    padding-bottom: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row; 
    gap: 15px; 
  }
  .decoration_title_header {
    justify-self: start;
    block-size: 100%;
    max-width: 100vw;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section_grid_why,
  .section_grid_how {
    display: grid;
    grid-template-columns: 315px 1fr;
  }
  .section_grid_why {
    margin-bottom: 40px;
    gap: 10px;
    padding-bottom: 40px;
  }
  .section_grid_what {
     margin-bottom: 40px;
     padding-bottom: 40px;
  }
  .local_setting {
    max-width: 315px;
  }
  .setting_media_flex {
    display: flex;
    gap: 20px;
  }
  .local_setting-parargaph {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    gap: 12px;
  }
  .section_grid_img {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    object-fit: cover;
  }
  .img_sunset {
    grid-column: 1/3;
    grid-row: span 1;
  }
  .img_ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
    min-height: 100%;
  }
  .img_tape {
    grid-column: 1/2;
    grid-row: 2/4;
    min-height: 100%;
  }
  .img_street {
    grid-column: 2/4;
  }
  .transform__img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
  .transform__img_flex {
    margin-top: 42px;
  }
  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-bottom: 145px;
  }
  
  .class-article_gap {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
 .footer_title {
  padding-bottom: 125px;
 }

}
